1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [5]:
import numpy as np
import pandas as pd

In [6]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)

   0
0  1
1  2
2  3
3  4
4  5

2. Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

In [7]:
def function1():
    series = pd.Series([2, 4, 6, 8, 10])
    print("Pandas Series and type")
    print(series)
    print(type(series))
    print("Convert Pandas Series to Python list")
    print(series.tolist())
    print(type(series.tolist()))

In [8]:
function1()

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
   Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [14]:
n1 = pd.Series([2,4,6,8,10])
n2 = pd.Series([1,3,5,7,9])
#print(f"N1 = {n1}")
#print(f"N2 = {n2}")
print('Addition of Two series')
print(n1+n2)
print('Subtraction of Two series')
print(n1-n2)
print('Multiplication of Two series')
print(n1*n2)
print('Division of Two series')
a = pd.Series(n1/n2)
print(a)

Addition of Two series
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction of Two series
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication of Two series
0     2
1    12
2    30
3    56
4    90
dtype: int64
Division of Two series
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to convert a dictionary to a Pandas series.

In [26]:
def function2():
    s1 = ({"Name":"Ankita","org":"sunbeam","course":"python"})
    print('Orignal Dictionary:')
    print(s1)
    Pandas_series = pd.Series(s1)
    print('Convertes Panda Series:')
    print(Pandas_series)

In [27]:
function2()

Orignal Dictionary:
{'Name': 'Ankita', 'org': 'sunbeam', 'course': 'python'}
Convertes Panda Series:
Name       Ankita
org       sunbeam
course     python
dtype: object

5. Write a Pandas program to convert a NumPy array to a Pandas series.

In [28]:
n1 = np.array([2,4,6,8,10])
print('Numpy Array:')
print(n1)
Pandas_series=pd.Series(n1)
print('Numpy array convert to Pandas Series:')
print(Pandas_series)

Numpy Array:
[ 2  4  6  8 10]
Numpy array convert to Pandas Series:
0     2
1     4
2     6
3     8
4    10
dtype: int64

6. Write a Pandas program to change the data type of given a column or a Series.

In [30]:
s1 = pd.Series(['100', '200', '33', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("Change the said data type to numeric:")
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)

Original Data Series:
0       100
1       200
2        33
3    300.12
4       400
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2     33.00
3    300.12
4    400.00
dtype: float64

7. Write a Pandas program to convert a given Series to an array.

In [33]:
n1 = pd.Series(['5','10','15','16','17'])
print(n1)
arr = np.array(n1)
print(arr)

0     5
1    10
2    15
3    16
4    17
dtype: object
['5' '10' '15' '16' '17']

8. Write a Pandas program to create a dataframe from a dictionary and display it.

In [37]:
def function3():
    p1 = ({"name":"Ankita","age":20,"id":111})
    p2 = ({"name":"Rutuja","age":22,"id":256})
    p3 = ({"name":"Akshda","age":22,"id":888})
    
    s1 = pd.Series(p1)
    s2 = pd.Series(p2)
    s3 = pd.Series(p3)
    
    df = pd.DataFrame([s1,s2,s3])
    
    print(df)

In [39]:
function3()

     name  age   id
0  Ankita   20  111
1  Rutuja   22  256
2  Akshda   22  888

9. i) Create a list of empids and names (10 employees).

In [45]:
def function3():
    p1 = ({"name":"Ankita","id":111})
    p2 = ({"name":"Rutuja","id":256})
    p3 = ({"name":"Akshda","id":888})
    p4 = ({"name":"xyz","id":889})
    p5 = ({"name":"ABC","id":586})
    p6 = ({"name":"NVJ","id":456})
    p7 = ({"name":"PQR","id":158})
    p8 = ({"name":"CDSB","id":148})
    p9 = ({"name":"BHVSDH","id":888})
    p10 = ({"name":"DVBD","id":888})
    
    s1 = pd.Series(p1)
    s2 = pd.Series(p2)
    s3 = pd.Series(p3)
    s4 = pd.Series(p4)
    s5 = pd.Series(p5)
    s6 = pd.Series(p6)
    s7 = pd.Series(p7)
    s8 = pd.Series(p8)
    s9 = pd.Series(p9)
    s10 = pd.Series(p10)
    
    df = pd.DataFrame([s1,s2,s3,s4,s5,s6,s7,s8,s9,s10])
    
    print(df)

In [46]:
function3()

     name   id
0  Ankita  111
1  Rutuja  256
2  Akshda  888
3     xyz  889
4     ABC  586
5     NVJ  456
6     PQR  158
7    CDSB  148
8  BHVSDH  888
9    DVBD  888

   ii) Convert list into Series.
   iii) Print type of Series.
   iv) Convert Series into DataFrame.

In [53]:
def function():
    l1 = [10,20,30,40,50]
    print('orignal list')
    print(l1)
    series=pd.Series(l1)
    print('converted list into series')
    print(series)
    print(f"Series = {series} Type ={type(series)}")

    df=pd.DataFrame([series])
    print(df)

In [54]:
function()

orignal list
[10, 20, 30, 40, 50]
converted list into series
0    10
1    20
2    30
3    40
4    50
dtype: int64
Series = 0    10
1    20
2    30
3    40
4    50
dtype: int64 Type =<class 'pandas.core.series.Series'>
    0   1   2   3   4
0  10  20  30  40  50